#b {
    background-color: blanchedalmond;
    text-align: center;
    text-decoration: cadetblue;
    text-shadow: darkred;
    font-size: 22px;
    font-family: cursive;
    font-weight: bold;
}